{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ block.super }} Excos & Lecturers
{% endblock title %}

{% block body %}

    <!-- ##### Best Tutors Area Start ##### -->
    <section class="best-tutors-area section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h3>Our Excos</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="tutors-slide owl-carousel">

                        {% for exco in excos %}
                       <!-- Single Tutors Slide -->
                        <div class="single-tutors-slides">
                            <!-- Tutor Thumbnail -->
                            <div class="tutor-thumbnail">
                                {% if exco.image %}
                                <img src="{{ exco.image.url }}" alt="{{ exco.full_name }}">
                                {% else %}
                                <img src="{% static 'img/core-img/blank_person.png' %}" alt="{{ exco.full_name }}">
                                {% endif %}
                            </div>
                            <!-- Tutor Information -->
                            <div class="tutor-information text-center">
                                <h5>{{ exco.full_name }}</h5>
                                <span>{{ exco.position }}</span>
                                {% if exco.whatsapp_link or exco.instagram or exco.twitter %}
                                    <div class="social-info">
                                        {% if exco.whatsapp_link %}
                                            <a href="{{ exco.whatsapp_link }}" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                                        {% endif %}
                                        {% if exco.instagram %}
                                            <a href="https://instagram.com/{{ exco.instagram }}" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                        {% endif %}
                                        {% if exco.twitter %}
                                            <a href="https://twitter.com/{{ exco.twitter }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                        {% endif %}
                                        {% if exco.snapchat_link %}
                                            <a href="{{ exco.snapchat_link }}" target="_blank"><i class="fa fa-snapchat" aria-hidden="true"></i></a>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Best Tutors Area End ##### -->

    <!-- ##### Top Lecturer Area Start ##### -->
    <section class="top-Lecturer-area section-padding-0-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h3>Our Lecturers</h3>
                    </div>
                </div>
            </div>

            <div class="row">

                {% for lecturer in lecturers %}
                    <!-- Single Lecturer -->
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="single-instructor d-flex align-items-center mb-30">
                            <div class="instructor-thumb">
                                <img src="{% static 'img/core-img/blank_person.png' %}" alt="{{ lecturer.full_name }}">
                            </div>
                            <div class="instructor-info">
                                <h5>{{ lecturer.full_name }}</h5>
                                <span>Lecturer</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>
    <!-- ##### Top Lecturer Area End ##### -->

{% endblock body %}
