{% extends 'base.html' %}
{% load static %}


{% block title %}
    {{ block.super }} {{ course.title }}
{% endblock title %}


{% block body %}

    <!-- ##### Courses Content Start ##### -->
    <div class="single-course-content section-padding-50">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="course--content">

                        <div class="clever-tabs-content">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="tab--1" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="false">Description</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab--2" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="true">Curriculum</a>
                                </li>
                            </ul>

                            <div class="tab-content" id="myTabContent">
                                <!-- Tab Text -->
                                <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab--1">
                                    <div class="clever-description">

                                        <!-- About Course -->
                                        <div class="about-course mb-30">
                                            <h4>{{ course.code }}: {{ course.title }}</h4>
                                            <p>{{ course.description }}</p>
                                        </div>

                                        {% if course.lecturers %}
                                            <!-- All Instructors -->
                                            <div class="all-instructors mb-30">
                                                <h4>All Instructors</h4>

                                                <div class="row">
                                                    {% for lecturer in course.lecturers.all %}
                                                        <!-- Single Instructor -->
                                                        <div class="col-lg-6">
                                                            <div class="single-instructor d-flex align-items-center mb-30">
                                                                <div class="instructor-thumb">
                                                                    <img src="{% static 'img/core-img/blank_person.png' %}" alt="{{ lecturer.full_name }}">
                                                                </div>
                                                                <div class="instructor-info">
                                                                    <h5>{{ lecturer.full_name }}</h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endfor %}

                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                                <!-- Tab Text -->
                                <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab--2">
                                    <div class="clever-curriculum">

                                        <!-- About Curriculum -->
                                        <div class="about-curriculum mb-30">
                                            <h4>Syllabus</h4>
                                            <p>Sed elementum lacus a risus luctus suscipit. Aenean sollicitudin sapien neque, in fermentum lorem dignissim a. Nullam eu mattis quam. Donec porttitor nunc a diam molestie blandit. Maecenas quis ultrices ex.
                                                Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam eget vehicula lorem, vitae porta nisi. Ut vel quam erat. Ut vitae erat tincidunt, tristique mi ac, pharetra dolor. In et suscipit ex.
                                                Pellentesque aliquet velit tortor, eget placerat mi scelerisque a. Aliquam eu dui efficitur purus posuere viverra. Proin ut elit mollis, euismod diam et, fermentum enim.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-4">
                    <div class="course-sidebar">
                        <!-- Buy Course -->
                        <a href="#" class="btn clever-btn mb-30 w-100">Download Course</a>

                        <!-- Widget -->
                        <div class="sidebar-widget">
                            <h4>Course Features</h4>
                            <ul class="features-list">
                                <li>
                                    <h6><i class="fa fa-clock-o" aria-hidden="true"></i> Duration</h6>
                                    <h6>16 Weeks</h6>
                                </li>
                                <li>
                                    <h6><i class="fa fa-star" aria-hidden="true"></i> Units</h6>
                                    <h6>{{ course.units }}</h6>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Courses Content End ##### -->


{% endblock body %}

