{% extends 'base.html' %}
{% load static %}
{% load gaia_extras %}


<!DOCTYPE html>

{% block title %}
    {{ block.super }} Home
{% endblock title %}

{% block body %}

        <!-- ##### Hero Area Start ##### -->
    <section class="hero-area bg-img bg-overlay-2by5" style="background-image: url({% static 'img/bg-img/people.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <!-- Hero Content -->
                    <div class="hero-content text-center">
                        <h2>WE ARE GEOSCIENTISTS</h2>
                    </div>
                    <div class="meta d-flex align-items-center justify-content-center">
                        <a style="color: white; margin-right:20px;">Geology</a>
                        <span style="color: white;"><i class="fa fa-circle" aria-hidden="true"></i></span>
                        <a style="color: white; margin-left: 20px;">Geophysics</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Hero Area End ##### -->

    <!-- ##### Cool Facts Area Start ##### -->
    <section class="cool-facts-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <!-- Single Cool Facts Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cool-facts-area text-center mb-100 wow fadeInUp" data-wow-delay="250ms">
                        <div class="icon">
                            <img src="{% static 'img/core-img/docs.png' %}" alt="">
                        </div>
                        <h2><span class="counter">{{ blog_posts_count | default_if_none:"0" }}</span></h2>
                        <h5>Blog Posts</h5>
                    </div>
                </div>

                <!-- Single Cool Facts Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cool-facts-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <div class="icon">
                            <img src="{% static 'img/core-img/star.png' %}" alt="">
                        </div>
                        <h2><span class="counter">{{ exco_count }}</span></h2>
                        <h5>Dedicated Exco{{ exco_count | pluralize:",s" }}</h5>
                    </div>
                </div>

                <!-- Single Cool Facts Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cool-facts-area text-center mb-100 wow fadeInUp" data-wow-delay="750ms">
                        <div class="icon">
                            <img src="{% static 'img/core-img/events.png' %}" alt="">
                        </div>
                        <h2><span class="counter">{{ upcoming_events_count | default_if_none:"0" }}</span></h2>
                        <h5>Scheduled Events</h5>
                    </div>
                </div>

                <!-- Single Cool Facts Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cool-facts-area text-center mb-100 wow fadeInUp" data-wow-delay="1000ms">
                        <div class="icon">
                            <img src="{% static 'img/core-img/earth.png' %}" alt="">
                        </div>
                        <h2><span class="counter">{{ course_count }}</span></h2>
                        <h5>Course{{ course_count | pluralize:",s" }}</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Cool Facts Area End ##### -->

    <!-- ##### Popular Courses Start ##### -->
    <section class="popular-courses-area section-padding-100-0" style="background-image: url({% static 'img/core-img/texture.png' %});">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h3>Our Courses</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Single Popular Course -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="250ms">
                        <a href="{% url 'geology_course_list' %}">
                            <img src="{% static 'img/thumb-img/geology_thumb.jpg' %}" alt="geology courses">
                            <!-- Course Content -->
                            <div class="course-content">
                                <h4>Geology</h4>
                                <p>A curated list of Geology courses</p>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- Single Popular Course -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <a href="{% url 'geophysics_course_list' %}">
                            <img src="{% static 'img/thumb-img/geophysics_thumb.jpg' %}" alt="geophysics courses">
                            <!-- Course Content -->
                            <div class="course-content">
                                <h4>Geophysics</h4>
                                <p>A curated list of Geophysics courses</p>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- Single Popular Course -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="750ms">
                        <a href="{% url 'others_course_list' %}">
                            <img src="{% static 'img/thumb-img/learn_thumb.jpeg' %}" alt="other courses">
                            <!-- Course Content -->
                            <div class="course-content">
                                <h4>Others</h4>
                                <p>List of other courses that may be relevant</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Popular Courses End ##### -->

    <!-- ##### Register Now Start ##### -->
    <section class="register-now section-padding-100-0 d-flex justify-content-between align-items-center" style="background-image: url({% static 'img/core-img/texture.png' %});">
        <!-- Register Contact Form -->
        <div class="register-contact-form mb-100 wow fadeInUp" data-wow-delay="250ms">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                            <h4 class="text-center">About Us</h4>
                            <p>This platform was created for Geoscience Students to get easy access to lecture files, tutorial videos and past questions relating to each course, and get updates about upcoming events.
                            Visitors are also treated to enlightening blog posts on relevant topics.
                            This platform also gives accessible information on Geoscience excos.</p>
                        <h5 class="text-center">Our Mission and Vision</h5>
                        <p>To create a better connection for UNILAG Geoscience Students in Nigeria and diaspora. One Geoscience, One Family.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Register Now Countdown -->
        <div class="register-now-countdown mb-100 wow fadeInUp" data-wow-delay="500ms">
            <h3>Come for Our Next Event!</h3>
            <p>Meet up with us at our next event: {{ next_event.title }} on {{ next_event.start_date | date:"l, jS F Y" }} at {{ next_event.start_date | date:"g:iA" }}. Tickets are {% if next_event.ticket_price %}{{ events.ticket_price | currency:"₦" }} {% else %}{{ "free" }}{% endif %}. Hope to see you there!</p>
            <!-- Register Countdown -->
            <div class="register-countdown">
                <div class="events-cd d-flex flex-wrap" data-countdown="{{ next_event.start_date | date:"Y/m/d" }}"></div>
            </div>
        </div>
    </section>
    <!-- ##### Register Now End ##### -->

    {% if upcoming_events %}
        <!-- ##### Upcoming Events Start ##### -->
        <section class="upcoming-events section-padding-100-0">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-heading">
                            <h3>Upcoming events</h3>
                        </div>
                    </div>
                </div>

                <div class="row">

                    {% for event in upcoming_events %}
                        <!-- Single Upcoming Events -->
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="single-upcoming-events mb-50 wow fadeInUp" data-wow-delay="250ms">
                                <!-- Events Thumb -->
                                <div class="events-thumb">
                                    {% if event.image %}
                                        <img src="{{ event.image.url }}" alt="{{ event.title }}">
                                    {% else %}
                                        <img src="{% static 'img/bg-img/e1.jpg' %}" alt="{{ event.title }}">
                                    {% endif %}
                                    <h6 class="event-date">{{ event.start_date | date:"F j" }}</h6>
                                    <h4 class="event-title">{{ event.title }}</h4>
                                </div>
                                <!-- Date & Fee -->
                                <div class="date-fee d-flex justify-content-between">
                                    <div class="date">
                                        <p><i class="fa fa-clock"></i> {{ event.start_date | date:"F j" }} @ {{ event.start_date | date:"g:ia" }}</p>
                                    </div>
                                    <div class="events-fee">
                                        {% if event.ticket_price %}
                                            <a>{{ event.ticket_price | currency:"₦" }}</a>
                                        {% else %}
                                            <a class="free">Free</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- ##### Upcoming Events End ##### -->
    {% endif %}


    <!-- ##### Blog Area Start ##### -->
    <section class="blog-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h3>From Our Blog</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Single Blog Area -->
                <div class="col-12 col-md-6">
                    <div class="single-blog-area mb-100 wow fadeInUp" data-wow-delay="250ms">
                        <img src="{% static 'img/blog-img/1.jpg' %}" alt="">
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="#" class="blog-headline">
                                <h4>English Grammer</h4>
                            </a>
                            <div class="meta d-flex align-items-center">
                                <a href="#">Sarah Parker</a>
                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                <a href="#">Art &amp; Design</a>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce enim nulla, mollis eu metus in, sagittis</p>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Area -->
                <div class="col-12 col-md-6">
                    <div class="single-blog-area mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <img src="{% static 'img/blog-img/2.jpg' %}" alt="">
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="#" class="blog-headline">
                                <h4>English Grammer</h4>
                            </a>
                            <div class="meta d-flex align-items-center">
                                <a href="#">Sarah Parker</a>
                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                <a href="#">Art &amp; Design</a>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce enim nulla, mollis eu metus in, sagittis</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Blog Area End ##### -->

{% endblock body %}
