{% extends 'base.html' %}
{% load static %}
{% load gaia_extras %}


<!DOCTYPE html>

{% block title %}
    {{ block.super }} Home
{% endblock title %}

{% block body %}

    <!-- ##### Section: Slider ##### -->
    <section class="slider">
        <ul class="slides">
            <li>
                <img src="{% static 'img/slide-img/slide1.jpg' %}">
                <div class="caption left-align">
                    <h2>WHO ARE WE?...</h2>
                </div>
            </li>
            <li>
                <img src="{% static 'img/slide-img/slide2.jpg' %}">
                <div class="caption right-align">
                    <h2>WE ARE GEOSCIENTISTS...</h2>
                </div>
            </li>
            <li>
                <img src="{% static 'img/slide-img/slide3.jpg' %}">
                <div class="caption left-align">
                    <h2>ONE GEOSCIENCE...</h2>
                </div>
            </li>
            </li>
            <li>
                <img id="image" src="{% static 'img/slide-img/slide4.jpg' %}">
                <div class="caption right-align">
                    <h2>ONE FAMILY.</h2>
                </div>
            </li>
        </ul>
    </section>
    <!-- ##### Hero Area End ##### -->

    <!-- ##### Cool Facts Area Start ##### -->
    <section class="cool-facts-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <!-- Single Cool Facts Area -->
                {% comment %} <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cool-facts-area text-center mb-100 wow fadeInUp" data-wow-delay="250ms">
                        <div class="icon">
                            <img src="{% static 'img/core-img/docs.png' %}" alt="">
                        </div>
                        <h2><span class="counter">20</span></h2>
                        <h5>Past Questions</h5>
                    </div>
                </div> {% endcomment %}

                <!-- Single Cool Facts Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cool-facts-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <div class="icon">
                            <img src="{% static 'img/core-img/star.png' %}" alt="">
                        </div>
                        <h2><span class="counter">{{ exco_count }}</span></h2>
                        <h5>Dedicated Exco{{ exco_count | pluralize:",s" }}</h5>
                    </div>
                </div>

                <!-- Single Cool Facts Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cool-facts-area text-center mb-100 wow fadeInUp" data-wow-delay="750ms">
                        <div class="icon">
                            <img src="{% static 'img/core-img/events.png' %}" alt="">
                        </div>
                        <h2><span class="counter">{{ upcoming_events.count | default_if_none:"0" }}</span></h2>
                        <h5>Scheduled Events</h5>
                    </div>
                </div>

                <!-- Single Cool Facts Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cool-facts-area text-center mb-100 wow fadeInUp" data-wow-delay="1000ms">
                        <div class="icon">
                            <img src="{% static 'img/core-img/earth.png' %}" alt="">
                        </div>
                        <h2><span class="counter">{{ course_count }}</span></h2>
                        <h5>Course{{ course_count | pluralize:",s" }}</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Cool Facts Area End ##### -->

    <!-- ##### Popular Courses Start ##### -->
    <section class="popular-courses-area section-padding-100-0" style="background-image: url({% static 'img/core-img/texture.png' %});">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h3>Our Courses</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Single Popular Course -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="250ms">
                        <a href="{% url 'geology_course_list' %}">
                            <img src="{% static 'img/thumb-img/geology_thumb.jpg' %}" alt="geology courses">
                            <!-- Course Content -->
                            <div class="course-content">
                                <h4>Geology</h4>
                                <p>A curated list of Geology courses</p>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- Single Popular Course -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <a href="{% url 'geophysics_course_list' %}">
                            <img src="{% static 'img/thumb-img/geophysics_thumb.jpg' %}" alt="geophysics courses">
                            <!-- Course Content -->
                            <div class="course-content">
                                <h4>Geophysics</h4>
                                <p>A curated list of Geophysics courses</p>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- Single Popular Course -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="750ms">
                        <a href="{% url 'others_course_list' %}">
                            <img src="{% static 'img/thumb-img/learn_thumb.jpeg' %}" alt="other courses">
                            <!-- Course Content -->
                            <div class="course-content">
                                <h4>Others</h4>
                                <p>List of other courses that may be relevant</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Popular Courses End ##### -->

    <!-- ##### Register Now Start ##### -->
    <section class="register-now section-padding-100-0 d-flex justify-content-between align-items-center" style="background-image: url({% static 'img/core-img/texture.png' %});">
        <!-- Register Contact Form -->
        <div class="register-contact-form mb-100 wow fadeInUp" data-wow-delay="250ms">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                            <h4 class="text-center">About Us</h4>
                            <p>This platform was created for Geoscience Students to get easy access to lecture files, tutorial videos and past questions relating to each course, and get updates about upcoming events.
                            Visitors are also treated to enlightening blog posts on relevant topics.
                            This platform also gives accessible information on Geoscience excos.</p>
                        <h5 class="text-center">Our Mission and Vision</h5>
                        <p>To create a better connection for UNILAG Geoscience Students in Nigeria and diaspora. One Geoscience, One Family.</p>
                    </div>
                </div>
            </div>
        </div>


        {% if next_event %}
            <!-- Register Now Countdown -->
            <div class="register-now-countdown mb-100 wow fadeInUp" data-wow-delay="500ms">
                <h3>Come for Our Next Event!</h3>
                <p>Meet up with us at our next event: {{ next_event.title }} on {{ next_event.start_date | date:"l, jS F Y" }} at {{ next_event.start_date | date:"g:iA" }}. Tickets are {% if next_event.ticket_price %}{{ events.ticket_price | currency:"₦" }} {% else %}{{ "free" }}{% endif %}. Hope to see you there!</p>
                <!-- Register Countdown -->
                <div class="register-countdown">
                    <div class="events-cd d-flex flex-wrap" data-countdown="{{ next_event.start_date | date:"Y/m/d" }}"></div>
                </div>
            </div>

        {% else %}
            <div class="register-now-countdown mb-100 wow fadeInUp" data-wow-delay="500ms">
                <h4>Check back for our upcoming events!</h4>
            </div>
        {% endif %}

    </section>
    <!-- ##### Register Now End ##### -->

    {% if upcoming_events %}
        <!-- ##### Upcoming Events Start ##### -->
        <section class="upcoming-events section-padding-100-0">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-heading">
                            <h3>Upcoming events</h3>
                        </div>
                    </div>
                </div>

                <div class="row">

                    {% for event in upcoming_events %}
                        <!-- Single Upcoming Events -->

                    <div class="col-12 col-md-6 col-lg-4">
                        <a href="{{ event.get_absolute_url }}">
                            <div class="single-upcoming-events mb-50 wow fadeInUp" data-wow-delay="250ms">
                                    <!-- Events Thumb -->
                                <div class="events-thumb">
                                    {% if event.image %}
                                        <img src="{{ event.image.url }}" alt="{{ event.title }}">
                                    {% else %}
                                        <img src="{% static 'img/bg-img/e1.jpg' %}" alt="{{ event.title }}">
                                    {% endif %}
                                    <h6 class="event-date">{{ event.start_date | date:"F j" }}</h6>
                                    <h4 class="event-title">{{ event.title }}</h4>
                                </div>
                                <!-- Date & Fee -->
                                <div class="date-fee d-flex justify-content-between">
                                    <div class="date">
                                        <p><i class="fa fa-clock"></i> {{ event.start_date | date:"F j" }} @ {{ event.start_date | date:"g:ia" }}</p>
                                    </div>
                                    <div class="events-fee">
                                        {% if event.ticket_price %}
                                            <a>{{ event.ticket_price | currency:"₦" }}</a>
                                        {% else %}
                                            <a class="free">Free</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- ##### Upcoming Events End ##### -->
    {% endif %}

{% endblock body %}

{% block scripts %}
        <!-- #### Materialize Script -->
    <script src="{% static 'js/materialize.min.js' %}"></script>

    <script>
        //Slider
        const slider = document.querySelector('.slider');
        M.Slider.init(slider, {
            indicators: false,
            height: 500,
            transition: 500,
            interval: 6000
        });
    </script>
{% endblock scripts %}
